<style>

table
{
	font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
	color:#444444;
}
h3
{
	font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
	color:#444444;
}
form
{
	font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
	color:#444444;
}
#submit
{
	border: 1px solid #e3007f;
	border-radius: 3px;
	background-color: #FFFFFF;
	color:#e3007f;
	font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
	font-size: 14px;
}
#submit:hover
{
	border: 1px solid #e3007f;
	border-radius: 3px;
	background-color: #e3007f;
	color:#FFFFFF;
	font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
}
#confirm
{
	border: 1px solid #e3007f;
	border-radius: 3px;
	background-color: #FFFFFF;
	color:#e3007f;
	font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
	font-size: 14px;
}
#confirm:hover
{
	border: 1px solid #e3007f;
	border-radius: 3px;
	background-color: #e3007f;
	color:#FFFFFF;
	font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
}
#border
{
	border: 1px solid #666666;
	border-radius: 3px;
}
#notice
{
	color:#e3007f;
	font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
	font-size:16px;
}
#showdiv
{
	position: absolute;
	border: 1px solid #666666;
	border-radius: 3px;
	background-color: #666666;
	color:#FFFFFF;
	font-family: 'Open Sans', Microsoft JhengHei, sans-serif;
}
</style>